<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h3 class="container">
          <span class="logo">{{epic.title}}</span>
        </h3>
      </li>
      <li *ngFor="let chapter of chapters" (click)="onClick(chapter)">
        <span style="color:#ffbb33;">{{chapter.title}}</span>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div *ngIf="selectedChapter" id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{selectedChapter.title}}</h1>
          <p>{{selectedChapter.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
