<div *ngIf="subscriptions">
    <div *ngIf="subscriptions.length === 0">
        This user is not subscribed to any publishers yet.
    </div>
    <table class="table">
        <tr>
            <th>Publisher Name </th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let subscription of subscriptions">
            <td>{{subscription.publisher.name}}</td>
            <td *ngIf="subscription.hasNewContent">This publisher has new content!</td>
            <td><a routerLink="/subepic/{{subscription.publisher.id}}">View Epics</a></td>
        </tr>
    </table>

</div>
