<div *ngIf="subscriptions">
    <div *ngIf="subscriptions.length === 0">
        This user is not subscribed to any publishers yet.
    </div>
    <table class="table">
        <tr>
            <th>Publisher Name </th>
            <th></th>
        </tr>
        <tr *ngFor="let subscription of subscriptions" (click)="onSelect(subscription)">
            <td>{{subscription.publisher.name}}</td>
            <td *ngIf="subscription.hasNewContent">This publisher has new content!</td>
        </tr>
    </table>

    <ul *ngIf="selectedSub">
        <app-epic [id]="selectedSub.publisher.id"></app-epic>
    </ul>
</div>

