<h2>{{featuredEpic.title}}</h2>
<div class="row">
  <div class="container col">
    <small>Published: {{featuredEpic.date | date}}</small>
    <h3>Author: {{featuredEpic.author.name}}</h3>
  </div>
  <div class="container col">
    <span *ngFor="let category of featuredEpic.categories">
      {{category.name}} |
    </span>
  </div>
</div>
<div class="container">
  <p>{{featuredEpic.concept}}</p>
  <p>
    <app-open-epic [epic]="featuredEpic"></app-open-epic>
  </p>
</div>
<small>Date Completed: {{featuredEpic.dateCompleted | date}}</small>
