<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><strong>YourEpic</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a routerLink="/epic" class="nav-link">My Epics</a>
      </li>
    </ul>
  </links>
  <links>
    <ul class="navbar-nav ml-auto">
      <app-login></app-login>
    </ul>
  </links>
</mdb-navbar>
<br />