<div class="sidenav">
    <h1 id="sideBarHead">Chapters</h1>
    <div *ngFor="let _chapter of chapters">
        <li [class.selected]="_chapter === viewChapter" (click)="onSelect(_chapter)" ><a>{{_chapter.title}}</a></li>
    </div>
</div>

<button (click)="goBack()" class="btn btn-primary" id="main">Go Back</button>
<div id="centerDiv">
<button routerLink="/addChapter/{{epicID}}" class="btn btn-primary">Add Chapter (+)</button>
<button routerLink="/categories/{{epicID}}" class="btn btn-primary">Edit Epic Categories</button>
 </div>
<div class="container" id="main">
    <mdb-card>
      <mdb-card-body *ngIf="viewChapter">
        <div><h2 class="primary-heading">{{epicTitle}}</h2></div>
        <!--Title-->
        <mdb-card-title>
          <h4>{{viewChapter.title | uppercase}}</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text>
          <div class="form-outline">
            <textarea class="form-control" id="textAreaExample" rows="10" [(ngModel)]="viewChapter.text">{{viewChapter.text}}</textarea>
            <button class="btn btn-primary" (click)="updateChapter(viewChapter)">Save Changes</button>
          </div>

        </mdb-card-text>
  
      </mdb-card-body>
    </mdb-card>
  </div>
  
