<button (click)="goBack()" class="btn btn-primary">Go Back</button>

<div id="centerDiv">
    <h1>Chapter Creation Wizard</h1>
</div>

<mdb-card>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Chapter Title: </h4>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text> 
        <input #title class="form-control" id="smallInput"/>
      </mdb-card-text>
  
      <mdb-card-title>
        <h4>Chapter Text: </h4>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text> 
        <textarea #text type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
        
      </mdb-card-text>

      <div id="rightDiv">
        <button (click)="add(title.value, text.value)" routerLink="/epic" class="btn btn-primary">Add Chapter</button>
      </div>
    </mdb-card-body>
  </mdb-card>
