<div class="container" *ngIf="epics">
    <h2>My Epics</h2>
    <div *ngIf="epics.length === 0; else tBL">
        This user has no epics yet.
    </div>
    <ng-template #tBL>
        <div>
            <table mdbTable>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr *ngFor="let epic of epics">
                    <td>{{epic.title}}</td>
                    <td><app-open-epic [epic]="epic"></app-open-epic></td>
                </tr>
            </table>
        </div>
    </ng-template>

</div>
