<div class="container" *ngIf="epics">
    <h2>{{epics[0].author.name}} Epics</h2>
    <div *ngIf="epics.length === 0; else tBL">
        This user has no epics yet.
    </div>
    <ng-template #tBL>
        <div>
            <table mdbTable>
                <tr>
                    <th>Name</th>
                    <th>Categories</th>
                    <th>Date Created</th>
                    <th>Rating</th>
                </tr>
                <tr *ngFor="let epic of epics">
                    <td>{{epic.title}}</td>
                    <td><span *ngFor="let category of epic.categories">
                      {{category.name}} |
                    </span></td>
                    <td>{{epic.date}}</td>
                    <td>{{epic.averageRating}}/5</td>
                    <td><app-open-epic [epic]="epic"></app-open-epic></td>
                </tr>
            </table>
        </div>
    </ng-template>

</div>
