/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(106, 90, 205, .25), rgba(240, 163, 10, .25));
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  color: slateblue;
  font-weight: bolder;
  font-variant-caps: small-caps;
}

.background-a {
  height: 90%;
  background-color: rgba(255, 255, 255, 0.6);
}
